// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom Helper Classes
@import "helpers/colors/background";
@import "helpers/colors/text";
@import "helpers/generic";
@import "helpers/spacing/margin";
@import "helpers/spacing/padding";

body {
	/* For fixed navbar */
	padding-top: 80px;
}

.navbar-fixed-top {
	z-index: 1;
}

.btn-save {
    margin-left: 5px;
}
